body{
    background: linear-gradient(to right, lavenderblush , lavender, #cbcdda, lavender, lavenderblush);
}

#board{
    height: 800px;
    width:800px;
}
.square{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background-color: rebeccapurple;
    display: inline-block;
}