body{
    /*background: linear-gradient(to right, lavenderblush , lavender, #cbcdda, lavender, lavenderblush);*/
}

#board{
    height: 800px;
    width:800px;
}
.square{
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background-color: lavender;
    display: inline-block;
    text-align: center;
    line-height: 250px;
    vertical-align: middle;
    overflow: hidden;
    font-size: 70px;
}
button{
    margin: 10px auto;
    padding: 20px;
    font-size: 40px;
    display: flex;
    border-radius: 20px;

}
button:hover{
    background-color: lavender;
}
h1{
    text-align: center;
}